<h1>Add a New Definition for $word.getWord()</h1>

<form action="/index/$word.getId()" method="post">
  <label for="newDefinition">Enter Definition Here:</label>
  <input id="newDefinition" name="newDefinition" type="text"><br>
<br>
  <button type="submit" class="btn btn-info">Add Definition</button>
</form>
