<h1>Dictionary</h1>

<table class="table table-hover sortable" id="wordTable">
  <thead>
    <tr>
      <th>Word List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      #foreach ($word in $words)
      <td><a href="/index/$word.getId()">$word.getWord()</a></td>
    </tr>
      #end
  </tbody>
</table>
<br>

<a href="/index/new-word">Add A New Word</a>
