<h1>Add a New Word</h1>

<form action="/" method="post">
  <label for="newWord">Enter Word Here:</label>
  <input id="newWord" name="newWord" type="text"><br>
<br>
  <button type="submit" class="btn btn-info">Add Word</button>
</form>
